
@import "colors";
@import "tipografias";

/* RESETEO. */
*{
    padding: 0;
    margin: 0;
}

@mixin tamanio ($anchura, $altura){
    width: $anchura;
    height: $altura;
}

@mixin tipografia ($tipo_fuente, $tamanio_fuente, $alinear_texto){
    font-family: $tipo_fuente;
    font-size: $tamanio_fuente;
    text-align: $alinear_texto;
}

/* GRID INDEX */

.grilla {
    display: grid;
    grid-template-areas:
    "cabecera"
    "principal"
    "pie";
    grid-template-columns: 100%;
}
	
/* GRID AREAS */

header {
    grid-area: cabecera;
    height: 30vh;
    background-size: cover;
    background-position: center;
    position: sticky;
    top: 0px;
    background-color: $back-color-header-y-submit;
}

main {
    grid-area: principal;
    background-color: $back-color-main;
}

footer {
    grid-area: pie;
    background-color: $back-color-footer;
}

/* MENU */

.navBackground {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    /* degradado */
    background-color: #fad0c4;
    background-image: linear-gradient(315deg, #fad0c4 0%, #f1a7f1 74%);
    z-index: 1;
    height: 25vh;
    ul {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: center;
        li {
            text-align: center;
            list-style-type: none;
            font-size: 100%;
            font-family: $tipo1;
            /*background-color: white;*/
            font-weight: bold;
            margin: 5%;
            color: black;
        }
    }
}

/* LOGO */

.logoCopyright {
    text-align: center;
}

/* FOOTER */

.pie {
    display:flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: nowrap;
    h3 {
        @include tipografia($tipo2, 1.5rem, center);
    }
    h4 {
        @include tipografia($tipo2, 1rem, center);
    }
}


.datosFooter {
    section {
        text-align: center;
        padding: 2%;
    }
}

.rrss {
    img{
        list-style-type: none;
        display: inline;
        width: 5%;
    }
}

/* MAIN INDEX*/

.seccionIndex {
    display:flex;
    flex-direction: column;
    flex-wrap: nowrap;
    border: solid;
    text-align: center;
    aside{
        img{
            width: 80%;
        }
    }
}

.orden {
    order: -1;
}

/* PARALLAX */

.parallax {
    display: none;
}

/* PAGINA SERVICIOS */

#introServicios {
    grid-area: introServicio;
    text-align: center;
    img {
        @include tamanio(100%, 55vh);
    }
    h1 {
        @include tipografia($tipo2, 4rem, center);
        font-weight: bold;
    }
    p {
        @include tipografia($tipo0, 2rem, center);
    }
}

.tiposServicios {
    grid-area: tipoServicio;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-around;
    width: 100%;
    section {
        justify-items: center;
        border: solid;
        img{
            @include tamanio(100%, 40vh);
        }
        article {
            h2 {
                @include tipografia($tipo2, 2.5rem, center);
                font-weight: bold;
            }
            p {
                @include tipografia($tipo0, 1.5rem, center);
            }
        }
    }
}

.consultoria {
    @include tamanio(100%, 80vh);
    img {
        @include tamanio(100%, 60vh);
    }
    article {
        @include tamanio(100%, 10vh);
        h2 {
            @include tipografia($tipo2, 2.5rem, center);
            font-weight: bold;
        }
        p {
            @include tipografia($tipo0, 1.5rem, center);
        }
    }
}

/* PAGINA PREGUNTAS */

.mainPreguntas {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    h1 {
        @include tipografia($tipo2, 4rem, center);
        font-weight: bold;
    }
    section {
        margin-top: 1%;
        h2 {
            @include tipografia($tipo2, 2.5rem, center);
            font-weight: bold;
        }
        p {
            @include tipografia($tipo0, 1.5rem, center);
        }
    }
    img {
        margin-top: 1%;
        @include tamanio(50vw, 30vh);
    }
}

/* PAGINA CONTACTO */

.formulario{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    font-family: $tipo2;
    font-weight: bold;
    text-align: center;
    align-items: center;
    align-content: center;
    justify-content: space-evenly;
    div {
        padding-top: 5%;
        }
}

textarea {
    width: 80vw;
}

.enviarDatos {
    color: $back-color-nav2-desktop-y-submit;
    background-color: $back-color-header-y-submit;
    text-align: center;
    font-weight: bold;
    margin-top: 2%;
    border: ridge;
    width: 200%;
    &:hover {
        color: $back-color-header-y-submit;
        background-color: $back-color-nav2-desktop-y-submit;
        font-weight: bold;
    }
}

.direccion {
    @extend .mainPreguntas;
    flex-wrap: nowrap;
    text-align: center;
    border: solid;
    article {
        h2 {
            @include tipografia($tipo2, 1.5rem, center);
            font-weight: bold;
        }
        p {
            @include tipografia($tipo0, 1rem, center);
        }
    }
}

/* iframe de contacto */

.embed-container {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    width: 70%;
    iframe {
        position: absolute;
        top:0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}

/* PAGINA NOSOTROS */

.mainNosotros {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    img {
        @include tamanio(100%, 75vh);
    }
    article {
        p {
            @include tipografia($tipo1, 2rem, center);
        }
        h1 {
            @include tipografia($tipo0, 4rem, center);
            margin-top: 2%;
            font-weight: bold;
        }
    }
    section {
        background-image: url("../img/equipo_de_trabajo.jpg");
        background-position: center;
        background-repeat: no-repeat;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        align-items: center;
        @include tamanio(100%, 60vh);
        p {
            @include tipografia($tipo1, 1.5rem, center);
            background-color: $back-color-parallax;
            
        }
        h2 {
            @include tipografia($tipo0, 3rem, center);
            font-weight: bold;
            background-color: $back-color-parallax;
        }
    }
}